.textos{
    font-weight: bold !important;
}

.botao{
    border-color: white;
    border-radius: 20px;
    background-color: #a333e2;
    color: white;
}

.botao:hover{
    background-color: #daadf3 !important;
}

.imagem{
    background-image: url(https://cdn-icons-png.flaticon.com/512/4651/4651962.png);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: auto;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.box-form{
    background-color: #faf9f6;
}


