.textos{
    font-weight: bold !important;
    text-decoration: none!important;
    color: #825c45!important;
    padding-bottom: 15px;
    border-bottom: #52301b solid 0.1px;
}

.box{
    background-color: white!important;
    /* padding-top: 20px!important;
    padding-bottom: 20px!important;  */
    border-radius: 150px!important; 
    color: #825c45!important;
    /* margin-left: 20px;
    margin-right: 20px;  */
    display: block;
    box-sizing: border-box;
    padding: 1.5rem!important;
}

.box-principal{
    border: #825c45 solid;
}

.form-ou{
    color: #825c45!important;
    padding-left: 5px;
    padding-right: 10px;
}

.botao{
    border-color: white;
    border-radius: 20px;
    background-color: #52301b!important;
    color: white;
}

.botao:hover{
    background-color: #495520!important;
}

.imagem{
    background-image: url(https://img.freepik.com/fotos-premium/controle-de-videogame-em-forma-de-chocolate-em-fundo-de-madeira_208861-4436.jpg?w=2000);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.box-form{
    background-color: #faf9f6;
}


