@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.cursor{
    cursor: pointer;
    color: #462815!important;
    text-decoration: none!important;
    font-family: 'Oswald', sans-serif!important;
}

.estilo-barra{
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-left: 100px!important;
}

.home-fonte{
    /* font-family:  'Sarala', sans-serif !important; */
    font-size: 5px;
}

.text-decorator-none{
    text-decoration: none;
}

.cor{
    background-color: #faf9f6!important;
}