.box1{
    background-color: #462815;
    height: 30px;
    padding-top: 10px;
}

.redes{
    font-size: 30px;
    color: white;
}

.redes-github{
    font-size: 25px;
    color: white;
}

.box2{
    background-color: #462815;
    height: 30px;
}

.texto{
    color: white;
}