.textos2{
    font-weight: bold !important;
}

.imagem2{
    background-image: url(https://elements-video-cover-images-0.imgix.net/files/9bb1410f-3f76-4c67-8c1b-e8093ff38428/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=450&w=800&s=64c2231cd2d4c1923b0fb48bdd94f25b);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.btnCancelar{
    margin-right: 20px !important;
}