.botoes{
    border-color: white !important;
    border-radius: 20px !important;
    background-color: #52301b !important;
    color: white !important;    
}

.botoes:hover{
    background-color: #495520 !important;
}

.textos2{
    font-weight: bold !important;
}

.box3{
    background-color: rgb(184, 170, 142)!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important; 
    border-radius: 150px!important; 
    color: white!important;
    margin-left: 20px;
    margin-right: 20px; 
    border: #52301b solid;
}

.imagem2{
    background-image: url(https://i.imgur.com/TitqlYy.png);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: 100%;
    background-position: cover;
}

.btnCancelar{
    margin-right: 20px !important; 
}

.cor-fundo{
    background-color: #faf9f6;
}

.alinhar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
}
