.botoes{
    border-color: white !important;
    border-radius: 20px !important;
    background-color: #a333e2 !important;
    color: white !important;    
}

.botoes:hover{
    background-color: #daadf3 !important;
}

.textos2{
    font-weight: bold !important;
}

.imagem2{
    background-image: url(https://cdn-icons-png.flaticon.com/512/4651/4651958.png);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: auto;
    background-position: center;
}

.btnCancelar{
    margin-right: 20px !important; 
}

.cor-fundo{
    background-color: #faf9f6;
}

