.botoes{
    border-color: white !important;
    border-radius: 20px !important;
    background-color: #52301b !important;
    color: white !important;    
}

.botoes:hover{
    background-color: #495520 !important;
}

.textos2{
    font-weight: bold !important;
}

.box{
    background-color: #a47050;
    padding-top: 20px!important;
    padding-bottom: 20px!important; 
    border-radius: 150px!important; 
    color: white!important;
    margin-left: 20px;
    margin-right: 20px; 
}

.imagem2{
    background-image: url(https://cdn-icons-png.flaticon.com/512/7295/7295298.png);
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    background-size: 90%;
    background-position: center;
}

.btnCancelar{
    margin-right: 20px !important; 
}

.cor-fundo{
    background-color: #faf9f6;
}

